<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>List Categories </title>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div class="container text-center">
<div><h1> Category List</h1></div>

<div><div>
			<table class="table table-striped table-bordered">
				<thead class="thead-dark">
					<tr>
						<th style="vertical-align: middle;">ID</th>
						<th style="vertical-align: middle;">Name</th>
						<th style="vertical-align: middle;">Price</th>
						<th style="vertical-align: middle;">Category</th>
						<th><a th:href="@{/products/new}" class="btn btn-primary">New</a></th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="product : ${listProducts}">
						<tr>
							<td>[[${product.id}]]</td>
							<td>[[${product.name}]]</td>
							<td>[[${product.price}]]</td>
							<td>[[${product.category.name}]]</td>
							
						</tr>	
					</th:block>
				</tbody>
			</table>
		</div>

 	


</div>



</div>
</body>
</html>